@font-face {
    font-family: 'Handlee';
    src: url('../../');
}


body,html{
    height:100%;
}

.hero-container {
    margin-right:200px;
    margin-left:200px;
    margin-top:75px;
    margin-bottom:75px;
    position:relative;
    text-align: center;
    color:white;
    height:800px;
}

.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./tgaab_home\ copy.jpg');
    background-color:rgb(0, 0, 0);
    height:100%;
    width:100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-text-logo{
    height:428px;
    width:626px;
    z-index:10;
    background-image:url('./TGAAB\ text_light\ blue\ \(header\).png');
    background-position:center;
    background-size:cover;
}
